<server>
  <!-- These are the production settings used in the docker container -->
   <featureManager>
        <feature>restfulWSClient-3.0</feature>
        <feature>servlet-5.0</feature>
        <feature>mpMetrics-4.0</feature>
        <feature>mpConfig-3.0</feature>
        <feature>mpHealth-4.0</feature>
    </featureManager>

  <httpEndpoint id="defaultHttpEndpoint"
                host="*"
                httpsPort="9443"/>

  <webApplication location="java-grpc-connector-template.war" contextRoot="/" />

  <!-- fine level logging. In production, decrease this level of tracing for improved performance -->
  <logging consoleFormat="simple" consoleSource="message,trace" consoleLogLevel="fine" traceFileName="stdout" traceFormat="BASIC" traceSpecification="com.ibm.aiops.connectors.*=info:com.ibm.cp4waiops.connectors.*=all" />

</server>
